<div class="container">
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <%= link_to t('home'), root_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t('newPost'), new_post_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to(current_user.username, current_user, class: "nav-link") %>
    </li>
    <li class="nav-item">
      <%= link_to t('deconnect'), destroy_user_session_path, method: :delete, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "English", change_locale_path(:en), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Français", change_locale_path(:fr), class: "nav-link" %>
    </li>
  </ul>
</div>
