<div class="container">
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <%= link_to("Accueil", root_path, class: "nav-link") %>
    </li>
    <li class="nav-item">
      <%= link_to('Écrire un nouveau post', new_post_path, class: "nav-link") %>
    </li>
    <li class="nav-item">
      <%= link_to(current_user.username, current_user, class: "nav-link") %>
    </li>
    <li class="nav-item">
      <%= link_to("Se déconnecter", destroy_user_session_path, method: :delete, class: "nav-link") %>
    </li>
    <li class="nav-item">
      <%= link_to "Switch to english", change_locale_path(:en), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Passer en français", change_locale_path(:fr), class: "nav-link" %>
    </li>
  </ul>
</div>
