<ul>
  <li>
    <%= link_to t('home'), root_path  %>
  </li>
  <li>
    <%= link_to t('newPost'), new_post_path %>
  </li>
  <li>
    <%= link_to t('deconnect'), destroy_user_session_path, method: :delete %>
  </li>
  <li>
    <%= link_to "English", change_locale_path(:en) %>
  </li>
  <li>
    <%= link_to "Français", change_locale_path(:fr) %>
  </li>
</ul>
