<%= render partial: "shared/menu" %>

<div class="container">
  <h1><%= t('hello')%></h1>
  <% @posts.each do |post| %>
  <div class="card d-inline-block" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title m-2"><%= post.title %></h5>
      <h6 class="card-subtitle m-2"><%= post.subtitle %></h6>
      <%= link_to t('readArticle'), post_path(post.id), class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>

</div>
