<%= render partial: "shared/menu" %>

<h1><%= t('hello')%></h1>

<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <h3><%= post.subtitle %></h3>
  <%= link_to t('readArticle'), post_path(post.id) %>
<% end %>