<h1><%= @post.title %></h1>
<p><%= @post.subtitle %></p>
<p><i>Écrit par <%= link_to(@user.username, @user) %><i></p>
<hr />
<p><%= @post.content %></p>

<%= render template: "comments/index" %>
<%= render template: "comments/new" %>
